#chart div {
  height: 20px;
  border-top-right-radius:    3px;
  border-bottom-right-radius: 3px;
}

.real {
  background-color: rgba(100, 255, 0, 0.5);
}

.goal {
  background-color: rgba(200, 100, 105, 0.5);
}