{% load url from future %}
<!doctype html>
<html>
  <head>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet" media="screen">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .navbar ul.center.nav {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        float: none;
      }
      .navbar ul.center.nav > li {
        display: inline-block;
        float: none;
      }
    </style>
    {% block head %}
    {% endblock head %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9867191-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url 'index' %}">Weekly Training</a>
          <ul class="nav pull-right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'core_profile_view' username=user.username %}">Profile</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
          <li><a href="{% url 'core_register_dailymile' %}">Log in</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}
      {% endblock content %}
      <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav center">
              <li><a href="{% url 'stats' %}">Stats</a></li>
              <li><a href="https://github.com/wraithan/dailymile-training">Source</a></li>
              <li><a href="https://github.com/wraithan/dailymile-training/issues">Issues</a></li>
              <li><a href="mailto:xwraithanx@gmail.com">Contact</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
