{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="span12">
    <dl>
      <dt>Why does this site exist?</dt>
      <dd>Dailymile doesn't have anything that lets someone set recurring goals. They have challenges, which are great for what they are, but I didn't want to end up creating a challenge for each type of exercise I did each week.</dd>
      <dt>Do you have a roadmap for what is coming next?</dt>
      <dd>The <a href="http://github.com/wraithan/dailymile-training/issues">issue tracker</a> is where I am keeping that list. I wont have an ordered list as things will likely get developed as I need them.</dd>
      <dt>The site is broken or I have a feature suggestion!</dt>
      <dd>Please feel free to submit feature requests and bug reports on <a href="http://github.com/wraithan/dailymile-training/issues">Github</a>.</dd>
      <dt>Who wrote this?</dt>
      <dd>This site is a side project of <a href="http://wraithan.net/">Wraithan</a>.</dd>
    </dl>
  </div>
</div>
{% endblock content %}
