{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<div class="row">
  <div class="span16">
    <div class="goal">
      <form class="form-horizontal" method="POST" action="{% url 'core_profile_goals_edit' %}">{% csrf_token %}
        <fieldset>
          {{ goal_forms.management_form }}
          {% for form in goal_forms %}
          <div class="control-group">
            <label class="control-label" for="{{form.workout_type.auto_id}}">Workout Type</label>
            <div class="controls">
              {{ form.workout_type }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="{{form.goal.auto_id}}">Goal (in miles)</label>
            <div class="controls">
              {{ form.goal }}
            </div>
          </div>
          {% if goal_forms.can_delete %}
          <div class="control-group">
            <label class="control-label" for="{{form.DELETE.auto_id}}">Delete?</label>
            <div class="controls">
              {{ form.DELETE }}
            </div>
          </div>
          {% endif %}
          {% for field in form.hidden_fields %}
          {{ field }}
          {% endfor %}
          {% endfor %}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="{% url 'core_profile_view' username=user.username %}" class="btn">Cancel</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
