{% extends 'base.html' %}
{% load url from future %}

{% block head %}
    <script src="{{ STATIC_URL }}js/chart.js" type="text/javascript"></script>
{% endblock head %}

{% block content %}
{% if profile %}
    <div class="row">
      <div class="span6">
        <a href="{{ profile.dailymile_url }}"><h2>{{profile.user.first_name}}</h2></a>
        <div id="chart"></div>
        {% if is_current_user %}
        <a href="{% url 'core_profile_goals_edit' %}" class="btn btn-primary">Edit Goals</a>
        {% endif %}
      </div>
      {% if friends %}
      <div class="span6">
        <h2>Friends</h2>
        <ul>
          {% for friend in friends %}
          <li><a href="{% url 'core_profile_view' friend.user.username %}">{{ friend.user.first_name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
{% else %}
    <h1>Profile does not exist</h1>
{% endif %}
{% endblock content %}

{% block inlinejs %}
{% if profile %}
    <script type="text/javascript">

var data = {{ stats|safe }}

graph(data);

    </script>
{% endif %}
{% endblock inlinejs %}
