{% extends 'base.html' %}
{% load url from future %}

{% block head %}
    <script src="{{ STATIC_URL }}js/chart.js" type="text/javascript"></script>
{% endblock head %}

{% block content %}
{% if profile %}
    <a href="{{ profile.dailymile_url }}"><h1>{{profile.user.first_name}}</h1></a>
    {% if is_current_user %}
    <a href="{% url 'core_profile_goals_edit' %}">Edit Goals</a>
    {% endif %}
    <div id="chart"></div>
{% else %}
    <h1>Profile does not exist</h1>
{% endif %}
{% endblock content %}

{% block inlinejs %}
{% if profile %}
    <script type="text/javascript">

var data = {{ stats|safe }}

graph(data);

    </script>
{% endif %}
{% endblock inlinejs %}
