{% extends 'base.html' %}
{% load url from future %}

{% block head %}
    <link href="{{ STATIC_URL }}css/style.css" type="text/css" rel="stylesheet" media="screen">
    <script src="{{ STATIC_URL }}js/chart.js" type="text/javascript"></script>
{% endblock head %}

{% block content %}
{% if profile %}
    <h1>{{profile}}</h1>
    {% if is_current_user %}
    <a href="{% url 'core_profile_goals_edit' %}">Edit Goals</a>
    {% endif %}
    <div id="chart"></div>
    <script type="text/javascript">

var data = {{ stats|safe }}

graph(data);

    </script>
{% else %}
    <h1>Profile does not exist</h1>
{% endif %}
{% endblock content %}

